@model IEnumerable<Miniprojekt.Models.Uppgift2Models.Uppgift2>

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mening)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mening)
        </td>
        <td>
            <!--ToDo Save content of textbox to a list-->
            @Html.TextBox("Word"+item.ID.ToString())
            @Html.Hidden("ItemID" + item.ID.ToString(), null, new { @Value = item.Orginal_ID })
        </td>
        
    </tr>
}
    
</table>
<div>
    <!--ToDo Get The List and send to controller-->
    <input type="submit" value="Rätta" class="btn btn-default" />
    <!--ToDo Need to get the points-->
    <p>Points: @ViewBag.Points</p>
</div>
}