@model Miniprojekt.Models.ImgText.Image

@{
    ViewBag.Title = "QuizImage";
}

<h2>QuizImage</h2>

<div>
    <h4>Image @ViewBag.Answer</h4>
    <hr />
    <img src="../../Resources/Img/@Model.Url" class="dl-horizontal"/>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="ImageId" id="ImageId" value="@Model.Id" />
    <div class="dl-horizontal">
        <input type="text" name="Answer" id="Answer" />
        <button type="submit" name="SubmitAnswer" id="SubmitAnswer">Svara/Answer</button>
    </div>
}
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
