@model Miniprojekt.Models.SentenceBuilding.Sentence

@{
    ViewBag.Title = "Random";
}

<h2>Random</h2>

<div>
    <h4>Sentence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mySentence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mySentence)
        </dd>

    </dl>
    <form method="post">
        <div class="form-group">
            @Html.HiddenFor(model => model.mySentence)
            @Html.TextArea("test", Request["test"], new { @placeholder = "Skriv din mening här...", @class = "form-control" })<br />
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </form>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
