@model Miniprojekt.Models.SentenceBuilding.ExamResult
@{
    ViewBag.Title = "Result";
}


<div>
    <h2>Resultat</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForgottenWords)
        </dt>

        <dd>
            @foreach (var item in Model.ForgottenWords)
            {<span>@item </span>}
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MisspelledAndExcessWords)
        </dt>

        <dd>
            @foreach (var item in Model.MisspelledAndExcessWords)
            {<span>@item </span>}
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>